Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm


# Secrets
Private/
*.env

.idea/misc.xml

.idea/modules.xml

.idea/PushNotificationService.iml

.idea/vcs.xml

.idea/workspace.xml
